* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
body {
  font-size: 1vw;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}

.no_overflow {
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

*::selection {
  color: #000;
  background: #ffffff;
}

.bg-white *::selection {
  color: #fff;
  background: #000;
}

.bg-black {
  background: #000;
  color: #fff;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  /* background: #000; */
  mix-blend-mode: difference;
  transition: 0.4s ease-in-out;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
}
h1,
h2 {
  font-weight: 600;
}
h3,
h4 {
  font-weight: 500;
}

h2 {
  font-size: 2.75rem;
}

#logo img {
  /* width: 20px; */
  height: 4em;
  margin-left: -2px;
}

/* #logo img:nth-child(9),
#logo img:nth-child(10),
#logo img:nth-child(11) {
  margin-left: -2px;
}

#logo img:nth-child(7) {
  margin-left: -7px;
} */

#footer_logo img {
  width: 220px;
}

#logo {
  transform: scale(1.08);
}

#logo .logo-images,
#footer_logo .logo-images {
  display: inline-flex;
}

#footer_logo .logo-images {
  transform: translateY(-13px);
}

#nav_opener img {
  width: 30px;
}

.fixed_bar_home {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: calc(100% - 140px);
  color: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  padding: 5px 0;
  z-index: 0;
  user-select: none;
}

body.article .fixed_bar_home.fixed_bar_article {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: calc(100% - 140px);
  color: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  padding: 5px 0;
  z-index: 0;
  user-select: none;
}

body:not(.home) .fixed_bar_home {
  position: relative;
  left: unset;
  bottom: unset;
  transform: none;
  width: calc(100% - 180px);
  margin: auto;
  color: #000000;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  padding: 60px 0 5px 0;
  z-index: 0;
  user-select: none;
}

.fixed_bar_home img {
  width: 1.35em;
  margin-right: 1em;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100vh;
  z-index: 1011;
  text-align: center;
  /* padding-top: 8vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-150vh);
  transition: 0.5s ease-in;
}

#menu.active {
  transform: translateY(0);
}

.text-dark {
  color: #000 !important;
}

#menu .links a {
  color: #000 !important;
  font-size: 7.5em;
  margin-top: 0.5rem;
  display: inline-block;
  transition: 0.3s;
  line-height: 1;
  font-weight: 600;
}

#menu .links a:hover {
  transform: scale(1.15);
}

#menu .links {
  margin-bottom: 2em;
}

.menu_footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu_footer > .menu_footer_link {
  padding: 0 20px;
}

.menu_footer > .menu_footer_link a span {
  transition: 0.4s;
  display: block;
}

.menu_footer > .menu_footer_link a:hover span {
  transform: translateY(-10px);
}

.menu_footer > .menu_footer_link a {
  color: #000;
  font-size: 1.3em;
  font-weight: 500;
}

#nav_opener {
  position: sticky;
  z-index: 10000;
  transition: 0.4s;
}
#nav_opener:hover {
  transform: scale(1.15);
}

#nav_opener.active {
  transform: rotate(-45deg);
}

#home {
  /* background-image: url(../images/home.jpg); */
  /* background-color: #000; */
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  min-height: 200vh;
  position: relative;
}

.scroll-banner {
  min-height: 200vh;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

#myVideo {
  filter: grayscale(1);
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.main-banner-bg {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner-box {
  background-color: black;
  z-index: 0;
  position: relative;
}
#home .banner-box {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

section,
footer {
  position: sticky;
  z-index: 2;
}

.h1.main-heading {
  text-align: center;
}

/*  home - services section */

/* imported CSS */

.max-width {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 1560px;
  margin-right: auto;
  margin-left: auto;
}

.lead__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12.5em 7.58em 10.23em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.lead__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 47.81em;
  margin-left: 7.58em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.lead__content._30 {
  width: 29.38em;
  margin-left: 0;
}

.p {
  margin-bottom: 0;
  color: #fff;
  font-size: 1.25em;
  line-height: 1.38;
}

.h1 {
  z-index: 1;
  margin-top: 0;
  font-family: degular, sans-serif;
  color: #fff;
  font-size: 6.25em;
  line-height: 1.1;
  font-weight: 600;
  text-align: left;
  text-shadow: none;
}

.h2 {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: degular, sans-serif;
  color: #fff;
  font-size: 4.06em;
  line-height: 1.1em;
  font-weight: 600;
}

.h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: degular, sans-serif;
  color: #fff;
  font-size: 2.19em;
  line-height: 1.36;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.5px;
}

.h4 {
  margin-bottom: 0;
  font-family: degular, sans-serif;
  color: #fff;
  font-size: 1.72em;
  line-height: 1.27;
  font-weight: 500;
}

.h5 {
  color: #fff;
  font-size: 3.28em;
  line-height: 1.14;
  font-weight: 600;
}

.hero__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 10.91em;
  padding-left: 10.91em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero__container.projekt {
  padding-right: 12.11em;
  padding-left: 12.11em;
  min-height: 80vh;
}

/* subpage hero section */

.hero__container.subpage.subpage--projekt {
  padding-top: 22.5vh;
  padding-bottom: 5vh;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.zentriert {
  text-align: center;
}

.hero.subpage {
  position: relative;
  z-index: 1;
  display: block;
  height: 80vh;
  padding-left: 0;
  background-color: #000;
}

.hero__content.titel.long {
  width: 42.5em;
  margin-right: 13.05em;
}

.hero__content.last.short {
  width: 24.69em;
}
.hero {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #101010;
}

.hero__container.subpage {
  width: 100%;
  height: 100%;
  padding-top: 4.3em;
  padding-right: 7.58em;
  padding-left: 7.58em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.hero__content.titel {
  width: 35.47em;
  margin-right: 1.56em;
}

.hero__content.last {
  height: 26em;
}

.hero__content {
  width: 47.81em;
}

/* services page */

.cta__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 9.38em 16.25em 10.94em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.ablauf__container {
  position: static;
  top: 0;
  display: block;
  overflow: hidden;
  padding-top: 13.13em;
  padding-bottom: 13.13em;
  padding-left: 7.58em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* impressum */

.impressum {
  display: block;
  padding-top: 12.48em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.impressum__container {
  padding-right: 7.58em;
  padding-left: 7.58em;
}

/* project */

.projekt_info {
  margin-bottom: 0;
  padding-bottom: 16.88em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.projekt_info__container {
  padding-top: 14em;
  padding-right: 7.58em;
  padding-left: 7.58em;
}

.projekt_info__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.projekt_info__titel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 23.13em;
  margin-right: 7.66em;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-top: 1px solid #000;
}

.projekt_info__titel img {
  width: 2.35em;
  padding: 1em 1em 0 0;
}

.projekt_info__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 53.98em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.bk-brand-color-1 {
  width: 100%;
  padding-bottom: 10.16em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.projekt-01-logo-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: auto;
  padding-right: 20em;
  padding-left: 20em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.projekt-06-kundenmeinung {
  display: block;
  height: auto;
  padding-top: 9.375em;
  padding-bottom: 9.375em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.projekt-06-kundenmeinung__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20em;
  padding-left: 20em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.projekte-07-bk {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 10.16em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.projekt-07-bild-container {
  padding-right: 13.75em;
  padding-left: 13.75em;
}

.projekte-09-bk-brand-color-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50vw;
  padding: 5% 10%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.projekt-09-bild {
  width: 40%;
  height: 66%;
  -o-object-fit: cover;
  object-fit: cover;
}

.projekte-09-text-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.margin_bottom._16px {
  margin-bottom: 0.73em;
}

.h2.margin-bottom {
  margin-bottom: 2.34em;
}

.projekt-10-doppelbild {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50vw;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.projekte-10-text-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  padding-right: 10%;
  padding-left: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.projekte-10-conatiner-rechts {
  display: block;
  width: 50vw;
  height: 50vw;
  -o-object-fit: cover;
  object-fit: cover;
}

._10-bild {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* 2nd article */

.projekt-04-doppelbild {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.projekte-04-doppelbild-links {
  display: block;
  width: 50vw;
  height: 50vw;
  border: 1px #000;
  -o-object-fit: cover;
  object-fit: cover;
}

.projekte-04-text-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  padding-right: 10%;
  padding-left: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/* 3rd article */

.projekte-05-bk-brand-color-2-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50vw;
  padding: 5% 10%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.projekte-05-text-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-right: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.projekt-05-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.projekt-05-bild {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.projekte-05-bk-brand-color-2-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50vw;
  padding: 5% 10%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.projekte-10-container-links {
  width: 50vw;
  height: 50vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  /* background-image: url(https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg); */
  background-position: 50% 50%;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
}


._10-bild {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.projekt-10-doppelbild {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50vw;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: cover;
  object-fit: cover;
}

/* customers page */

.kunden__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: auto;
  height: auto;
  padding: 9.69em 7.58em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}


.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.kunden__grid {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-rows: 142px;
  grid-column-gap: 3.12em;
  grid-row-gap: 1em;
  -ms-grid-columns: 1fr 1fr 1fr 1fr !important;
  grid-template-columns: 1fr 1fr 1fr 1fr !important;
  -ms-grid-rows: 136px 136px;
  grid-template-rows: 136px 136px;
}

.kunden {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.p._3-spalten {
  color: #000;
  -webkit-column-count: 3;
  column-count: 3;
  /* -webkit-column-gap: 3.12em;
  column-gap: 3.12em; */
  -webkit-column-gap: 17em;
  column-gap: 17em;
}

.p._3-spalten a {
  color: #000;
}

.p._3-spalten h4 {
  padding-left: 1.3em;
  background-image: url(../images/diagonal-arrow-black.png);
  background-position: 0 57%;
  background-size: 0.7em;
  background-repeat: no-repeat;
}

.services_cont {
  /* padding: 12.5em 0; */
}

.services_cont .row {
  padding: 12.5em 7.58em 10.23em;
  flex-wrap: nowrap;
}

.home_service_head {
  width: 29.38em;
}

.home_service_para {
  width: 47.81em;
  margin-left: 7.58em;
}

.banner-box .services_cont {
  padding: 12em 0 8rem 0;
}

.bg-white {
  background-color: #fff;
  color: #000;
}

.text-black,
.schwarz {
  color: #000;
}

.text-underline {
  text-decoration: underline !important;
  color: red !important;
}

.bg-white .h1,
.bg-white .h2,
.bg-white .h3,
.bg-white .h4,
.bg-white .h5,
.bg-white .h6 {
  color: #000;
}

.services_heading {
  color: #000;
}

.banner-box .services_heading,
.banner-box .services_para,
.bg-black .services_heading,
.bg-black .services_para {
  color: #fff;
}

/* service page accordion */

ul.accordion {
  list-style: none;
  padding: 0;
  width: 100%;
}

ul.accordion .inner {
  padding-left: 30px;
  font-size: 1.5em;
  line-height: 1.3;
  overflow: hidden;
  opacity: 0;
  font-weight: 500;
  display: none;
  transition: opacity 0.5s;
}

.fadingIn {
  opacity: 1 !important;
}

ul.accordion li {
  margin: 0.5em 0 3rem 0;
}

ul.accordion li a.toggle {
  width: 100%;
  display: block;
  color: #000;
  border-top: 2px solid #000;
  padding: 0.5em 0;
  font-size: 1.8em;
  font-weight: 500;
  transition: 0.3s;
}

.bg-black .accordion li a.toggle {
  color: #fff;
  border-top: 2px solid #fff;
}

ul.accordion li a.toggle img {
  width: 0.85em;
  margin-right: 0.35em;
  transform: translateY(-0.1em);
  transition: 0.4s;
}

ul.accordion li.show a.toggle img {
  transform: rotate(-90deg) translateY(0px);
}

/* services_slider */

#services_slider .owl-item {
  opacity: 0.5;
}

#services_slider .owl-item.full-op {
  opacity: 1 !important;
}

#services_slider .h1 {
  /* font-size: 7em; */
}

#services_slider .p {
  width: 80%;
}

.services_slider_para {
  max-width: 27em;
  margin-bottom: 6.5em;
}

#services_slider .owl-nav {
  text-align: left;
}

@media (min-width: 1600px) {
  .footer_cont {
    max-width: 90%;
  }
}

@media (min-width: 1800px) {
}

.services_para {
  color: black;
}

.home .services_para {
  font-weight: 500;
}

.button {
  position: relative;
  z-index: 4;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.4em;
  border: 1px solid #fff;
  border-radius: 100px;
  background-color: transparent;
  -webkit-transition: 350ms;
  transition: 350ms;
  color: #fff !important;
  font-weight: 400;
  font-size: 1.25em;
  letter-spacing: 0.3px;
  line-height: 1.1;
}

.button-white svg {
  fill: #fff;
}
.button-white:hover svg {
  /* fill: #000; */
}

.button-small {
  position: relative;
  z-index: 4;
  display: inline-flex;
  padding: 0.75rem 1.35rem;
  border: 1px solid #fff;
  border-radius: 100px;
  background-color: transparent;
  -webkit-transition: color 350ms, background-color 350ms;
  transition: color 350ms, background-color 350ms;
  color: #fff;
  font-weight: 400;
  font-size: 1.4em;
  letter-spacing: 0.3px;
  line-height: 1.1;
}

.button-text-cta {
  font-size: 1.25em;
  line-height: 1;
  font-weight: 500;
}

.draw {
  transition: color 0.25s;
  border-radius: 100px;
  overflow: hidden;
}
.draw::before,
.draw::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: red;
}
.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: red;
  border-right-color: red;
  transition: width 0.25s ease-out, height 0.25s ease-out, border-radius 0s;
}
.draw:hover::after {
  border-bottom-color: red;
  border-left-color: red;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
}

.button span {
  line-height: 1;
}

.button svg {
  width: 23px;
  margin-right: 10px;
}

#menu .button svg#Mail {
  width: auto !important;
  height: 1.2em;
}

#menu .button svg#phone {
  width: auto !important;
  height: 1.2em;
}

@supports (-webkit-backdrop-filter: blur(1px)) {
  svg {
    height: intrinsic;
  }
}

.button-small svg {
  width: auto;
  margin-right: 0.6em;
  height: 1.4em;
}

.button-black {
  border-color: #000;
  color: #000 !important;
}

.button:hover {
  /* background-color: #fff; */
  /* color: #000; */
  border: 1px solid red;
}

.button-black:hover {
  /* background-color: #000; */
  /* color: #fff; */
}

.button-black:hover svg {
  /* fill: #fff;
  color: #fff; */
}

.py-10 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.post {
  /* for 3 rows */
  height: 20vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
}

.post-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 15px;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff !important;
  opacity: 0;
  transition: 0.5s;
}

.post-hover > div {
  position: relative;
  display: flex;
  align-items: center;
}

.post-hover > div::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: red;
  bottom: -8px;
  left: 0;
  transition: 0.6s;
  transition-delay: 0.5s;
}
.post-hover:hover > div::before {
  width: 100%;
}

.post-hover:hover {
  opacity: 1;
}

.post-hover img {
  width: 1.5em;
  margin-right: 0.75em;
  height: auto;
  margin-top: 0.2em;
}

.post-hover .p {
  font-weight: 500;
}

.post-hover .h3 {
  line-height: 1;
}

.post1 {
  background-image: url(../images/R4R-home.jpeg);
}

.post2 {
  background-image: url(../images/article2_theme.jpeg);
}

.post3 {
  background-image: url(../images/292-min.jpg);
}

.post4 {
  background-image: url(../images/DCS_ARTICLE.JPEG);
}

#post5 {
  background-image: url(../images/adm.png);
  background-size: 80%;
}

#post52 {
  background-image: url(../images/logo-OFBOR.png);
  background-size: 80%;
}

/* company icon */

.company_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}

.company_icon img {
  width: 70%;
}

.company_icon.smaller img {
  width: 40%;
}

/* posts */

.image {
  overflow: hidden;
}

.image img {
  transition: 0.3s;
}

.item:hover img {
  transform: scale(1.2);
}

.owl-nav {
  text-align: right;
  margin-top: 30px;
}

.owl-next,
.owl-prev {
  outline: none !important;
  width: 1.56em;
  height: 1.56em;
  background-color: transparent !important;
  background-image: url(../images/arow-slider.svg) !important;
  background-position: 50% 50% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  -webkit-transition: -webkit-transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
}

.bg-black .owl-next,
.bg-black .owl-prev {
  background-image: url(../images/arow-slider-white.svg) !important;
  transition: 0.5s;
}

.bg-black .owl-next:hover {
  background-image: url(../images/arow-slider-red.svg) !important;
  transform: scale(1.2);
}
.bg-black .owl-prev:hover {
  background-image: url(../images/arow-slider-red.svg) !important;
  transform: scale(1.2) rotate(-180deg) !important;
}

.owl-prev {
  margin-right: 1.56em;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.owl-next span,
.owl-prev span {
  display: none;
}
.owl-next {
  margin-left: 10px;
}

/* footer */

.footer__grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.56em;
  grid-row-gap: 1.56em;
  -ms-grid-columns: 2fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.footer__container {
  padding: 4.69em 7.58em 1em;
}

#footer_logo {
  transform: translateY(-10px);
}

.footer-links > div {
  transition: 0.3s;
}
.footer-links > div:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}
.footer-links a {
  font-size: 1.72em;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0.45em;
  display: block;
}

.footer-address > div {
  line-height: 1.38;
}

.footer-address p {
  font-size: 1.4em;
  margin: 0;
}

/* copyright */

.copyright {
  color: gray;
  font-size: 1.1em;
}

.copyright a {
  color: gray;
  transition: 0.3s;
}

.copyright a:hover {
  color: white;
}

#lang {
  position: fixed;
  left: 0;
  bottom: 20%;
  display: flex;
  color: #fff;
  z-index: 1000;
}

#lang > div {
  padding: 0.25rem;
  background: #000;
  transform: scale(0);
  opacity: 0;
  user-select: none;
  transition: 0.1s;
  cursor: pointer;
  font-size: 1.25rem;
}

#lang > div.active {
  transform: none;
  opacity: 1;
  z-index: 12;
  background: #000;
  order: -1;
}
#lang.show > div {
  transform: scale(1);
  opacity: 1;
}

/* @media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%;
}
} */

@media screen and (max-width: 991px) {
  .lead__container {
    padding: 6.565em 6em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .lead__content {
    width: 100%;
    margin-top: 7.58em;
    margin-left: 0;
  }

  .hero__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero__content.titel {
    width: 100%;
  }
  .hero__content.last {
    width: 100%;
    margin-top: 2.5em;
  }
  .footer__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .projekt_info__titel {
    margin-right: 0;
    margin-bottom: 2em;
  }

  .projekt_info__content {
    width: 100%;
  }

  .projekt_info__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .projekt_info__container {
    padding-top: 10em;
    padding-right: 6em;
    padding-left: 6em;
  }

  .projekt-01-bild {
    width: 100%;
  }

  .projekt-01-logo-container {
    padding-right: 6em;
    padding-left: 6em;
  }

  .projekt-01-logo-container img {
    border: 2px solid #000;
  }

  .projekt-06-kundenmeinung__container {
    padding-right: 6em;
    padding-left: 6em;
  }

  .projekt-07-bild-container {
    padding-right: 6em;
    padding-left: 6em;
  }

  .projekte-09-bk-brand-color-3 {
    height: auto;
    padding: 6em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .projekt-09-bild {
    width: 100%;
    height: 60vw;
    margin-bottom: 45px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .projekte-09-text-content {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .projekte-10-text-content {
    width: 100%;
    margin-top: 7.03em;
    margin-bottom: 7.03em;
    padding-right: 6em;
    padding-left: 6em;
  }
  .projekte-10-conatiner-rechts {
    width: 100vw;
    height: 100vw;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -o-object-position: 50% 0%;
    object-position: 50% 0%;
  }
}

@media only screen and (min-width: 1560px) {
  body {
    font-size: 15.6px;
  }
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
}
